/* Estilo del navegador */
body {
  font-family: georgia, times, serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
}
main{
  padding-top: 6%;
  background: linear-gradient(45deg,blue,red,green,black);
  animation: cambiar 10s ease-in-out infinite;
  background-size: 400% 400%;

}
h1 {
  font-size: 2rem;
  line-height: 1.3em;
}
p {
  margin-bottom: 1.6em;
}
.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
.header {
  background: lightseagreen;
  color: white;
  padding: 2rem 0;
  top: 0;
  position: fixed;
  width: 100%;
}
.footer{
  background: #333;
  color: white;
  
}
.header a {
  color: white;
  text-decoration: none;
}

.navegador{
  display: flex;
  justify-content: space-between;
}


.navegador ul li a:hover {
  background: #ccc;
}
.buscador a {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.buscador a:hover {
  background: #ccc;
}
.desplegable {
  
  
  overflow: hidden;
}

/* Dropdown button */
.desplegable .listbtn {  
  border: none;
  outline: none;
  color: white;
  
  background-color: inherit;
   /* Important for vertical align on mobile phones */
   /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navegador a:hover, .desplegable:hover .listbtn {
  background-color: red;
}
/* Dropdown content (hidden by default) */
.elementos-desplegable {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.elementos-desplegable a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.elementos-desplegable a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.desplegable:hover .elementos-desplegable {
  display: block;
}
.menu-des{
  width: 30px;
  height: 30px;
}
.flecha{
  text-align: center;
}
.flecha img{
  width: 300px;
  height: 300px;
}
.cuenta{
  text-align: center;
}
.cuenta a{
  text-decoration: none;
}
@keyframes cambiar{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}